<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

 ## Objectives:
- Explore popular Data Science tools and libraries.
- Understand the importance of data manipulation and analysis.
- Learn about various machine learning algorithms and techniques.
- Gain insights into data visualization methods.
- Discuss the role of programming languages in Data Science.

## Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Julia
- Scala

 ## Some of the commonly used libraries used by Data Scientists include:
    1.Apache Spark
    2.Big DL
    3.Ggplot2
    4.Keras
    5.Matplotlib
    6.Numpy
    7.Pandas
    8.PyTorch
    9.Scikit-learn
    10.Seaborn
    11.TensorFlow
    12.Vegas

|Data Science Tools|
|------------------|
| Anaconda         |
| Jupyter Notebook |
| Julia            |
| R Studio         |
| Spyder    |
| Seaborn          |
| TensorFlow       |

# Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers.'
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60.'
hours = 200 / 60
hours

3.3333333333333335

## Author
amine hammoumi